*.DS_Store
*.pyc
**/__pycache__
dingo_ws/build/*
dingo_ws/devel/*
dingo_ws/logs/*
dingo_ws/.catkin_tools/*
dingo_ws/.vscode/*
.vscode/*
.idea/*
dingo_ws/src/.vscode/*
Kelpie_Main_Board/History/*
/kelpie_ws/src/kelpie_hardware_interface/scripts/calibrate_servo_angles.yaml
/kelpie_ws/devel/*
/kelpie_ws/build/*
/kelpie_ws/src/CMakeLists.txt
/kelpie_ws/.catkin_workspace

/kelpie_ws/src/kelpie_logger/logs/*