<launch>
    <arg name="mode" default="0" doc="0: Physical, 1: Digital twin, 2: Simulation"/>
    <arg name="input_type" default="0" doc="0: Joystick, 1: Keyboard"/>
    <arg name="serial_port" default="/dev/ttyS0"/>

    <!-- If want to use the joystick, launch joystick node -->

    <group if="$(eval arg('image_width') ==640)"> </group>
    

    <node pkg="joy" type="joy_node" name="JOYSTICK">
        <param name="autorepeat_rate" value="30"/>
        <param name="joy_node/dev" value="/dev/input/js0"/>
        <arg name="coalesce_interval" value="0.02"/>
    </node>

    <!-- <include file="$(find raspicam_node)/launch/camerav2_1280x720.launch" /> -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <!-- Kelpie Driver -->
    <node pkg="kelpie" type="main_driver.py" name="kelpie" args="$(arg is_sim) $(arg is_physical) $(arg use_imu)" output="screen"/>
    <node pkg="kelpie_hardware_interface" type="main.py" name="hardware" />
    <!-- <node pkg="kelpie_logger" type="main.py" name="logger" output="screen"/> -->
</launch>
    
