<launch>
    <arg name="mode" default="0" doc="0: Physical (Run on dog), 1: Simulation (Run on laptop)"/>
    <arg name="input_type" default="0" doc="0: PS4, 1: Keyboard"/>
    <arg name="use_cam" default="0"/>


    <!-- main_driver and rosbridge is always ran -->
    <node pkg="kelpie" type="main_driver.py" name="kelpie" output="screen"/>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    
    <!-- Run hardware if physical dog -->
    <group if="$(eval arg('mode') == 0)"> 
        <node pkg="kelpie_hardware_interface" type="main.py" name="hardware"/>
    </group>

    <!-- Only run webots if simulation mode, and publish IMU and batt data. This can only be ran from a laptop and not from the physical dog-->
    <group if="$(eval arg('mode') == 1)"> 
        <include file="$(find kelpie_webots)/launch/webots_ros_python.launch">
            <arg name="digital_twin" value="0"/>
        </include>
    </group>

    <!-- Run joystick? -->
    <group if="$(eval arg('input_type') == 0)"> 
        <node pkg="joy" type="joy_node" name="JOYSTICK">
            <param name="autorepeat_rate" value="30"/>
            <param name="joy_node/dev" value="/dev/input/js0"/>
            <arg name="coalesce_interval" value="0.02"/>
        </node>
    </group>

    <!-- Run keyboard? (Only if joystick is not running) -->
    <group if="$(eval arg('input_type') == 1)"> 
        <node pkg="kelpie_ground_station" type="keyboard.py" name="keyboard"/>
    </group>

    <!-- Run camera? -->
    <group if="$(arg use_cam)">
        <include file="$(find raspicam_node)/launch/camerav2_1280x720.launch" />
    </group>
</launch>
    
